/* Navbar Header */
#navButton {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 10px 30px 10px 30px;
}

#navHeaderLinks a {
  color: grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  line-height: 2em;
  margin-right: 30px;
}

#navHeaderLinks a:hover {
  color: lightgrey;
}

/* Header Jumbotron */
.jumbotron.jumbotron-fluid.header {
  background-image: url(../img/epicodus-bkgrnd.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: ;
  height: ;
  overflow: hidden;
}

.container.header h1 {
  color: white;
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 8px;
  line-height: 50px;
  max-width: 100%;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  text-transform: uppercase;
  z-index: auto;
}

/* Track Suggester Block */
#bodyHeader {
  color: black;
  display: inline-block;
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 8px;
  line-height: 40px;
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 25px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: auto;
}

#headingParagraph {
  padding-bottom: 25px;
}

.bold-text {
  font-weight: bold;
  color: ;
}

/* Reponse Content */
#css, #java, #ruby {
  display: none;
}

#css h1 {
  color: black;
  font-family: 'Varela Round', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 8px;
  line-height: 50px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
}

#ruby h1 {
  color: black;
  font-family: 'Varela Round', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 8px;
  line-height: 50px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
}

#java h1 {
  color: black;
  font-family: 'Varela Round', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 8px;
  line-height: 50px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
}

.lead {
  font-size: 18px;
  font-weight: bold;
}

/* Footer Jumbotron */
#footer {
  background-color: grey;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.navbar-text {
  text-align: center;
}
